.about {
  display: grid;
  grid-template-columns: min-content 66%;
  grid-auto-rows: auto;
  grid-template-areas: 
  "logo title"
  ". text";
  padding: 0 24px 180px;
}

.about__logo {
  display: flex;
  grid-area: logo;
  justify-self: center;
  align-self: start;
  width: 240px;
  height: 240px;
  margin: 35px 72px 8px 47px;
  border-radius: 50%;
  background: #000;
}

.about__logo-img {
  width: 148px;
  margin: auto;
}

.about__title {
  grid-area: title;
  align-self: center;
  margin-top: 35px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-area: text;
  font-size: 20px;
  line-height: 1.2;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}