.cover {
  height: 757px;
  padding: 40px 50px 51px;
  text-transform: uppercase;
  background-image: url(/images/cover.jpg);
}

.cover__title {
  display: flex;
  flex-direction: column;
  margin: 118px 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.30;
  letter-spacing: 0.3em;
}

.text-center {
  align-self: center;
  margin-right: 25px;
  line-height: 1.20;
}

.text-right {
  align-self: end;
}

.letter-space {
  letter-spacing: 0.6em;
}

.letter-right {
  letter-spacing: 0;
}

.cover__content {
  display: flex;
  justify-content: space-between;
  margin-left: 28px;
  font-size: 22px;
}

.cover__content-text {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 637px;
}

.cover__content-button {
  display: flex;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  text-decoration: none;
}

.cover__content-button-text {
  margin: auto;
}