.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  padding: 92px 50px 93px;
  font-size: 18px;
}

.header__menu {
  margin: auto 42px auto 0;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
}

.header__menu li:not(:first-child){
  list-style: circle;
}

.header__logo {
  display: block;
  width: 136px;
}

.header__contacts .contacts {
  margin: 6px 0 auto auto;
}