.lots {
  padding: 179px 24px 146px;
}

.lots__title {
  margin: 0 auto 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__cards-list {
  display: flex;
  justify-content: space-between;
}

.lots__card-link {
  text-decoration: none;
}

.lots__card {
  width: 334px;
  height: 563px;
  z-index: 1;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots__card-1 {
  background-image: url(/images/card-lot-01.jpg);
}

.lots__card-2 {
  background-image: url(/images/card-lot-02.jpg);
}

.lots__card-3 {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__card-title {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  margin: 51px 40px 0;
}

.lots__card-text {
  margin: 0 40px 48px 40px;
  line-height: 1.2;
  font-size: 20px;
}


.lots__link {
  margin-left: 40px;
  font-size: 20px;
}